form{
 position: absolute;
 top: 40%;
 left: 33%;
 right: 33%;
}


.title h4{
 text-align: center;
 margin-top: 10%;
}


.msg{
 position: absolute;
 top: 88%;
 left: 33%;
 font-size: 15px;
 color: red;
}